
#footer-container h2 {
    align-self: center;
    margin: 0.5rem 0;
    font-family: 'Roboto Slab';
    font-size: 1.3rem;
    color: white;
}

#footer-container li {
    list-style-type: none;
    color: white;
    font-family: 'Open Sans';
    font-size: 1rem;
}

.footer-column2 li a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
    font-size: 1rem;
    white-space: nowrap;
}

.footer-column3 li a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans';
  font-size: 1rem;
  white-space: nowrap;
}

.footer-column2 li a:hover {
  text-decoration: underline;
}

.footer-column3 li a:hover {
  text-decoration: underline;
}


ul {
    margin: 0;
    padding: 0;
    border: 0;
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
}


#footer-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-content: center;
    justify-items: center;
    padding: 1rem 0;
    padding-bottom: 5rem;
    max-width: 25rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 0 1rem;
}

@media(max-width: 30rem)
{
  #footer-container h2 {
    font-size: 0.9rem;
  }

  #footer-container li {
    font-size: 0.7rem;
  }

  #footer-container li a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
    font-size: 0.7rem;
    color: white;
  }

  #footer-container{
      padding: 0.5 0rem;
  }

  .footer-column {
      margin: 0 0.5rem;
  }

  .footer-column2 {
    margin: 0 0.5rem;
  }

  .footer-column3 {
    margin: 0 0.5rem;
  }
}

@media(max-width: 20rem)
{
  #footer-container h2 {
    font-size: 0.7rem;
  }

  #footer-container li {
    font-size: 0.5rem;
  }

  #footer-container li a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
    font-size: 0.5rem;
    color: white;
}

  #footer-container{
      padding: 0.2 0rem;
  }

  .footer-column {
      margin: 0 0.2rem;
  }

  .footer-column2 {
    margin: 0 0.2rem;
  }

  .footer-column3 {
    margin: 0 0.2rem;
  }
}